.CodeMirror-fullscreen {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  height: auto;
  
  border:5px solid #fff;
}

div.CodeMirror.CodeMirror-fullscreen {
  width:100%;
  margin:0;
  z-index: 9;
}


